<div class="containerC">
    <div class="slideshow-container">

<div class="mySlides fade">
   <div class="card a">
        <div class="face face1 a">
            <div class="content">
               <ion-icon name="call-outline"></ion-icon>
                <h3>أعلن معنا </h3>
            </div>
        </div>
        <div class="face face2 a">
            <div class="content">
                <p> اعلن عن منتجاتك على شبكتنا </p>
                <a  href="tel:+966543210333" type="button">اتصل بنا </a>
            </div>
        </div>
    </div>
     <div class="text">contact us </div>
</div>

<div class="mySlides fade">

  <div class="card t">
        <div class="face face1 t">
            <div class="content">
                <ion-icon name="logo-twitter"></ion-icon>
                <h3>Twitter</h3>
            </div>
        </div>
        <div class="face face2 t">
            <div class="content">
                <p>تابعنا على تويتر لتحصل على اخر اخبار للمسابقات </p>
                <a href="http://www.twitter.com/jwmwl" target="_blanck" type="button">Follow</a>
            </div>
        </div>
    </div>
  <div class="text">Twitter</div>
</div>

<div class="mySlides fade">
  

    <div class="card i">
        <div class="face face1 i">
            <div class="content">
                <ion-icon name="logo-instagram"></ion-icon>
                <h3>Instagram</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> تابعنا على الانستقرام لتشاهد مواسم  الالعاب   </p>
                <a href="http://www.instagram.com/jwmwl" target="_blanck"  type="button">Follow</a>
            </div>
        </div>
    </div>
      <div class="text">Instagram</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center" class="cont_dots">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

     

   
</div>